table {
    border-collapse: collapse;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:50%;
}

th,td {
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
}

th {
    background-color:gainsboro;
    color: #000;
}